node_modules/*
!node_modules/grunt-jsdoc
node_modules/grunt-jsdoc/*
!node_modules/grunt-jsdoc/node_modules
node_modules/grunt-jsdoc/node_modules/*
!node_modules/grunt-jsdoc/node_modules/jsdoc
node_modules/grunt-jsdoc/node_modules/jsdoc/*
!node_modules/grunt-jsdoc/node_modules/jsdoc/conf.json

lib/trending-news.js
lib/config.js

instapush_settings.json
docker_env

deploy/node_modules/
core
